* {
    background-color: rgb(178, 232, 250);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

p {
    font-size: 20px;
    color: rgb(14, 61, 202);
    font-weight: 500;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(252, 252, 127);
}

ol, ul {
    font-size: 20px;
    color: rgb(226, 63, 34);
    font-weight: 500;
}
